@using IdentityServer.Constants
@using IdentityServer.Models.Users
@model UserInputModel

<div class="container-fluid">
    <form asp-controller="@ControllerConstants.USERS_CONTROLLER" asp-action="Save">
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Nome</label>
                <input asp-for="Name" type="text" class="form-control" value="@Model.Name">
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" class="form-control" value="@Model.Email">
            </div>
        </div>
        <div class="form-row">
            <div class="from-group col-md-6">
                <label asp-for="Password">Senha</label>
                <input asp-for="Password" type="password" class="form-control"/>
            </div>
            
            <div class="from-group col-md-6">
                <label asp-for="PasswordConfirmation">Confirmação de Senha</label>
                <input asp-for="PasswordConfirmation" type="password" class="form-control" />
            </div>
        </div>
        <button class="btn btn-primary" name="button" value="@ControllerConstants.SAVE">Salvar</button>
        <button class="btn btn-primary" name="button" value="@ControllerConstants.CANCEL">Cancelar</button>
    </form>
</div>