@using IdentityServer.Models.Users
@using System.Collections.Generic
@using IdentityServer.Constants

@model IEnumerable<UserModel>

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary mb-2" asp-asp-controller="@ControllerConstants.USERS_CONTROLLER" asp-action="Edit" asp-route-id="">Novo Usuário</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ativo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserModel user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            
                            @if(@user.IsActive) { <td>Sim</td> }
                            else { <td>Não</td> }

                            <td class="d-flex justify-content-end">
                                @if(user.IsActive)
                                {
                                    <a class="btn btn-secondary" 
                                        asp-controller="@ControllerConstants.USERS_CONTROLLER" 
                                        asp-action="Edit" 
                                        asp-route-id="@user.Id"
                                    >Editar</a>
                                    <a class="btn btn-danger ml-2" 
                                        style="min-width: 100px" 
                                        asp-action="Deactivate" 
                                        asp-route-id="@user.Id"
                                        asp-route-isActive="true"
                                    >Desativar</a>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-secondary" disabled>Editar</button>
                                    <a class="btn btn-danger ml-2" 
                                        style="min-width: 100px" 
                                        asp-action="Deactivate" 
                                        asp-route-id="@user.Id" 
                                        asp-route-isActive="false"
                                    >Reativar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>